@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: auto;
    padding: auto;
}


body {
    background-color: #0d477a36;
    font-family: 'Raleway';
}

.primario {
    background-image: url(../img/banne.jpg);
    height: 1000px;
}

.filho {
    background-color: #0d477a5d;
    height: 1000px;
}

.logo img {
    margin-top: 30px;
    padding-left: 90px;
}

.menu ul {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-left: 900px;
    font-size: 18px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #e9f2f3;
}

h1 {
    text-align: center;
    color: #e9f2f3;
    font-size: 70px;
}

p {
    text-align: center;
    color: #e9f2f3;
    font-size: 20px;
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 150px;
    height: 25px;
    background-color: #2175BF;
}

button a {
    color: #e9f2f3;
    border: 5px;
    border-color: #e9f2f3;
    text-decoration: none;
    font-size: 14px;
}

.sobre{
    margin-top: 326px;
}
.colunas1 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 700px;
    background-color: #0d477a36;
}

.titulo1 {
    color: black;
    font-size: 50px;
}

.para1 {
    color: black;
}


.colunas2 {
    background-color: #0d477a5d;
    height: 935px;
}

.titulo h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 40px;

}

.fileira1 p {
    color: #e9f2f3;
    font-size: 17px;
}

.fileira1 img {
    width: 350px;
    height: 200px;
}

.fileira1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;

}

.fileira1 h2 {
    font-size: 25px;
    color: #e9f2f3;
}

.fileira2 p {
    color: #e9f2f3;
    font-size: 17px;
}

.fileira2 img {
    width: 350px;
    height: 200px;
}

.fileira2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    padding-right: 10px;
}

.fileira2 h2 {
    font-size: 25px;
    color: #e9f2f3;
}

.letra {
    font-size: 18px;
    color: #222;
}

.fundo2 {
    align-items: center;
    background-color: #0d477a36;
    height: 500px;
    background-image: url(../img/brinquedo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo2 {
    font-size: 40px;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.fundo3{
    background-color: #eeeef1a8;
    height: 500px;
}

.itens {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.itens1 {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 105px;
}

.para2{
    color: black;
    font-size: 20px;
}

.faixa{
    background-color: rgba(255, 0, 0, 0.575);
    color: white;
    font-style: normal;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    height: 150px;
}

h3{
    padding-top: 20px;
}

.botao3{
    border: 5px solid #e9f2f3;
    background-color: transparent;
    height: 40px;
    border-radius: 10px;
}

.coluna{
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: #222;
    padding-top: 40px;
}

.para3{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}